src/main/resources/xsd/basic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://dgc.brainius.de/model/ps2v2">

	<!-- Elements that are used in several types -->
	<xsd:element name="battle_rank" type="battle_rank_type"></xsd:element>
	<xsd:element name="certs" type="certs_type"></xsd:element>
	<xsd:element name="daily_ribbon" type="daily_ribbon_type"></xsd:element>
	<xsd:element name="name" type="name_type"></xsd:element>
	<xsd:element name="times" type="times_type"></xsd:element>

	<!--
		Attributes that are used in several type
		Primarly ID-Attributes are found here because
		they are used to connect data
	 -->
	<xsd:attribute name="ability_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="ability_type_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="activatable_ability_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="achievement_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="attachment_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="attachment_item_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="character_id" type="xsd:long"></xsd:attribute> <!-- TODO Test schreiben: neu: long alt: int -->
	<xsd:attribute name="cost_resource_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="currency_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="current_directive_tier_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="damage_direct_effect_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="damage_indirect_effect_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="de" type="xsd:string"></xsd:attribute>
	<xsd:attribute name="directive_id"  type="xsd:int"></xsd:attribute>
	<xsd:attribute name="directive_tier_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="directive_tree_category_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="directive_tree_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="effect_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="effect_type_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="en" type="xsd:string"></xsd:attribute>
	<xsd:attribute name="es" type="xsd:string"></xsd:attribute>
	<xsd:attribute name="experience_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="facility_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="facility_id_a" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="facility_id_b" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="facility_type_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="faction_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="fire_group_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="fire_mode_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="fire_mode_index" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="fire_mode_type_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="fr" type="xsd:string"></xsd:attribute>
	<xsd:attribute name="grant_item_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="icon_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="image_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="image_path" type="xsd:string"></xsd:attribute>
	<xsd:attribute name="image_set_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="initial_faction_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="it" type="xsd:string"></xsd:attribute>
	<xsd:attribute name="item_category_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="item_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="item_type_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="last_save" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="last_save_date" type="xsd:string"></xsd:attribute>
	<xsd:attribute name="leader_character_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="loadout_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="map_region_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="marketing_bundle_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="metagame_event_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="metagame_event_state_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="nc_image_path" type="xsd:string"></xsd:attribute>
	<xsd:attribute name="objective_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="objective_group_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="objective_set_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="objective_type_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="outfit_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="passive_ability_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="player_state_group_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="player_state_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="profile_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="profile_type_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="projectile_flight_type_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="projectile_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="qualify_requirement_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="region_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="reward_currency_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="reward_group_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="reward_set_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="reward_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="reward_type_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="resist_type_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="resource_type_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="skill_category_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="skill_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="skill_line_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="skill_set_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="slot_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="start" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="start_date" type="xsd:string"></xsd:attribute>
	<xsd:attribute name="target_type_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name= "title_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="tr" type="xsd:string"></xsd:attribute>
	<xsd:attribute name="tr_image_path" type="xsd:string"></xsd:attribute>
	<xsd:attribute name="type_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="vehicle_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="vs_image_path" type="xsd:string"></xsd:attribute>
	<xsd:attribute name="weapon_group_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="weapon_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="world_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="zone_effect_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="zone_effect_type_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="zone_id" type="xsd:int"></xsd:attribute>
	<xsd:attribute name="ZoneId" type="xsd:int"></xsd:attribute>
	
	<!--
		Attribute groups that contains a number of attributes
		that are used in serveral types
	 -->
	<xsd:attributeGroup name="abilityParamGroup">
		<xsd:attribute name="param1" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="param2" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="param3" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="param4" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="param5" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="param6" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="param7" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="param8" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="param9" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="param10" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="param11" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="param12" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="param13" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="param14" type="xsd:string"></xsd:attribute>
	</xsd:attributeGroup>	
	<xsd:attributeGroup name="abilityStringGroup">
		<xsd:attribute name="string1" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="string2" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="string3" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="string4" type="xsd:string"></xsd:attribute>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="basicCharacterAttributes">
		<xsd:attribute ref="character_id"></xsd:attribute>
		<xsd:attribute name="faction_id" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="head_id" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="profile_id" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="title_id" type="xsd:int"></xsd:attribute>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="basicResponseAttributes">
		<xsd:annotation>
			<xsd:documentation>attributes with information about the response</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="limit" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="returned" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="milliseconds" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="seconds" type="xsd:float"></xsd:attribute>
		<xsd:attribute name="count" type="xsd:int"></xsd:attribute>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="languageAttributes">
		<xsd:annotation>
			<xsd:documentation>language attributes that contains data in the specific language</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute ref="de"></xsd:attribute>
		<xsd:attribute ref="en"></xsd:attribute>
		<xsd:attribute ref="es"></xsd:attribute>
		<xsd:attribute ref="fr"></xsd:attribute>
		<xsd:attribute ref="it"></xsd:attribute>
		<xsd:attribute ref="tr"></xsd:attribute>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="image_attributes">
		<xsd:attribute ref="image_id"></xsd:attribute>
		<xsd:attribute ref="image_set_id"></xsd:attribute>
	</xsd:attributeGroup>

	<!-- Complex types that are used in serveral types -->
	<xsd:complexType name="battle_rank_type">
		<xsd:attribute name="percent_to_next" type="xsd:double"></xsd:attribute>
		<xsd:attribute name="value" type="xsd:int"></xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="certs_type">
		<xsd:attribute name="available_points" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="earned_points" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="gifted_points" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="percent_to_next" type="xsd:double"></xsd:attribute>
		<xsd:attribute name="spent_points" type="xsd:int"></xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="daily_ribbon_type">
		<xsd:attribute name="count" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="date" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="time" type="xsd:int"></xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="multi_language_description_type">
		<xsd:attributeGroup ref="languageAttributes"></xsd:attributeGroup>
	</xsd:complexType>	
	<xsd:complexType name="directive_name">
		<xsd:attributeGroup ref="languageAttributes"></xsd:attributeGroup>
	</xsd:complexType>
	<xsd:complexType name="name_type">
		<xsd:attribute name="first" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="first_lower" type="xsd:string"></xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="stat_day_type">
		<xsd:attribute name="d01" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d02" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d03" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d04" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d05" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d06" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d07" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d08" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d09" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d10" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d11" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d12" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d13" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d14" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d15" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d16" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d17" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d18" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d19" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d20" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d21" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d22" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d23" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d24" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d25" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d26" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d27" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d28" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d29" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d30" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="d31" type="xsd:int"></xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="stat_month_type">
		<xsd:attribute name="m01" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="m02" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="m03" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="m04" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="m05" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="m06" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="m07" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="m08" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="m09" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="m10" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="m11" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="m12" type="xsd:int"></xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="stat_week_type">
		<xsd:attribute name="w01" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="w02" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="w03" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="w04" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="w05" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="w06" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="w07" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="w08" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="w09" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="w10" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="w11" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="w12" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="w13" type="xsd:int"></xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="times_type">
		<xsd:attribute name="creation" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="creation_date" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="last_login" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="last_login_date" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="last_save" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="last_save_date" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="login_count" type="xsd:int"></xsd:attribute>
		<xsd:attribute name="minutes_played" type="xsd:int"></xsd:attribute>
	</xsd:complexType>
</xsd:schema>